body {
	width: 1000px;
	margin: 0 auto;
}
h1{
	font-family: 'Roboto', sans-serif; line-height: 36px;
}
.p1{
	font-family: 'Roboto', sans-serif;
}
li{
	font-family: 'Roboto', sans-serif; line-height: 20px;
}
.H{
	font-family: 'Roboto', sans-serif;
	margin-top: 60px;
}
.tip{
	background-color:#def6ed;
	padding: 25px;
	border-radius: 4px;
}
img {
    display: block;
    margin-right: auto;
}
header {
	display: inline-block;
	text-align: center;
	height: 75px;
	width: 100%;
	position: fixed;
	height: 40px;
	margin-top: -20px;
	top: 0;
	left: 0;
}


.bar{
display: inline-block;
color: black;
background-color: grey;
width: 100%;

}
.lb{
	display: inline-block;
}

.active{
	background-color: mediumseagreen;
}

li a:hover{
	background-color: grey;
} 
li a{
	display: inline-block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
div{
	align-content:center;
	margin: 0 auto;
	width: 60%;

}